[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=4.1.0"
pillow = "==9.2.0"
psycopg2 = "==2.8.6"
celery = "==5.2.7"
eventlet = "*"
flower = "==1.1.0"
stripe = "==4.0.2"

[dev-packages]

[requires]
python_version = "3.9"
